<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.realai.online.core.dao.ModelDao">
    <resultMap type="cn.realai.online.core.entity.Model" id="ModelMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="release_status" property="releaseStatus" jdbcType="VARCHAR"/>
        <result column="experiment_id" property="experimentId" jdbcType="BIGINT"/>
        <result column="service_id" property="serviceId" jdbcType="BIGINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        <result column="tuning_no" property="tuningNo" jdbcType="INTEGER"/>
        <result column="tuning_record_id" property="tuningRecordId" jdbcType="BIGINT"/>
        <result column="model_down_url" property="modelDownUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO model (name,create_time,release_status,experiment_id,service_id,remark,create_user_id,tuning_no,tuning_record_id,model_down_url)
        VALUE (#{name},#{createTime},#{releaseStatus},#{experimentId},#{serviceId},#{remark},#{createUserId},#{tuningNo},#{tuningRecordId},#{modelDownUrl})
    </insert>

    <select id="findList" parameterType="cn.realai.online.core.entity.Model" resultMap="ModelMap">
        SELECT * FROM model
        <where>
            1=1
            <if test="name!=null and name!=''">
                AND name = #{name}
            </if>
            <if test="releaseStatus!=null and releaseStatus!=''">
                AND release_status = #{releaseStatus}
            </if>
        </where>
    </select>

    <select id="selectAllModelNameList" parameterType="java.lang.Long" resultMap="ModelMap">
       SELECT * FROM model WHERE service_id = #{serviceId}
    </select>


    <update id="update" parameterType="cn.realai.online.core.entity.Model">
        UPDATE model
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="releaseStatus!=null">release_status=#{releaseStatus},</if>
            <if test="remark!=null">remark=#{remark},</if>
        </trim>
        <where>
            id =#{id}
        </where>
    </update>

    <update id="offline">
         UPDATE model SET release_status = #{status} WHERE service_id =#{serviceId} AND id !=#{id}
    </update>


    <select id="get" resultMap="ModelMap" parameterType="java.lang.Long">
        SELECT * from model
        <where>
            id =#{id}
        </where>
    </select>

    <select id="selectLatest" resultMap="ModelMap">
        select m.* from model as m
        where m.release_status in ('online', 'offline')
        order by m.id desc
        limit 1
    </select>

    <select id="selectByServiceId" resultMap="ModelMap">
        select m.* from model as m
        where m.release_status in ('online', 'offline')
        and m.service_id = #{serviceId}
        order by m.id desc
        limit 1
    </select>

    <select id="findLastModelSelect" resultMap="ModelMap">
        select m.* from model as m
        order by m.create_time desc
    </select>

    <select id="findModelOptionHistory" parameterType="java.lang.Long">
        SELECT a.* FROM model a LEFT JOIN experiment b ON a.experiment_id = b.id LEFT JOIN service c ON a.service_id = c.id LEFT JOIN sys_user d ON a.create_user_id =d.id
    </select>

    <resultMap type="cn.realai.online.core.bo.ModelListBO" id="ModelListMap">
        <result column="modelId" property="modelId" jdbcType="BIGINT"/>
        <result column="modelName" property="modelName" jdbcType="VARCHAR"/>
        <result column="serviceId" property="serviceId" jdbcType="BIGINT"/>
        <result column="serviceName" property="serviceName" jdbcType="VARCHAR"/>
        <result column="experimentId" property="experimentId" jdbcType="BIGINT"/>
        <result column="experimentName" property="experimentName" jdbcType="VARCHAR"/>
        <result column="releaseTime" property="releaseTime" jdbcType="TIMESTAMP"/>
        <result column="releaseStatus" property="releaseStatus" jdbcType="VARCHAR"/>
        <result column="algorithmType" property="algorithmType" jdbcType="VARCHAR"/>
        <result column="tuningNo" property="tuningNo" jdbcType="INTEGER"/>
        <result column="tuningType" property="tuningType" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectList" resultMap="ModelListMap">
        select
        m.id as modelId,
        m.name as modelName,
        sv.id as serviceId,
        sv.name as serviceName,
        ep.id as experimentId,
        ep.name as experimentName,
        m.create_time as releaseTime,
        m.release_status as releaseStatus,
        ep.algorithm_type as algorithmType,
        m.tuning_no as tuningNo,
        tr.type as tuningTYpe
        from model as m
        join experiment as ep on m.experiment_id = ep.id
        join service as sv on m.service_id = sv.id
        left join tuning_record as tr on m.tuning_record_id = tr.id
        <!--如果多出一个and，会自动去除，如果缺少and或者多出多个and则会报错-->
        <where>
            <if test="name!=null and name.trim()!=''">
                and m.name like CONCAT('%',#{name},'%')
            </if>
            <if test="serviceId!=null">
                and sv.id = #{serviceId}
            </if>
        </where>
        order by m.create_time desc, m.id desc
    </select>


    <resultMap type="cn.realai.online.core.bo.ModelDetailBO" id="ModelDetailMap">
        <result column="modelId" property="modelId" jdbcType="BIGINT"/>
        <result column="modelName" property="modelName" jdbcType="VARCHAR"/>
        <result column="serviceId" property="serviceId" jdbcType="BIGINT"/>
        <result column="serviceName" property="serviceName" jdbcType="VARCHAR"/>
        <result column="experimentId" property="experimentId" jdbcType="BIGINT"/>
        <result column="experimentName" property="experimentName" jdbcType="VARCHAR"/>
        <result column="releaseTime" property="releaseTime" jdbcType="TIMESTAMP"/>
        <result column="algorithmType" property="algorithmType" jdbcType="VARCHAR"/>
        <result column="tuningCount" property="tuningCount" jdbcType="INTEGER"/>
        <result column="tuningType" property="tuningType" jdbcType="VARCHAR"/>
        <result column="model_down_url" property="modelDownUrl" jdbcType="VARCHAR"/>
        <result column="ydefine" property="ydefine" jdbcType="VARCHAR"/>
        <result column="serviceType" property="serviceType" jdbcType="VARCHAR"/>
        <result column="serviceBusinessType" property="serviceBusinessType" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectDetail" resultMap="ModelDetailMap">
        select m.id as modelId,
        m.model_down_url as model_down_url,
        m.name as modelName,
        sv.id as serviceId,
        sv.name as serviceName,
        ep.id as experimentId,
        ep.name as experimentName,
        m.create_time as releaseTime,
        ep.algorithm_type as algorithmType,
        ep.tuning_count as tuningCount,
        tr.type as tuningType,
        ep.y_table as ydefine,
        sv.type as serviceType,
        sv.business_type as serviceBusinessType,
        m.remark as remark
        from model as m
        join experiment as ep on m.experiment_id = ep.id
        join service as sv on m.service_id = sv.id
        left join tuning_record as tr on m.tuning_record_id = tr.id
        <!--如果多出一个and，会自动去除，如果缺少and或者多出多个and则会报错-->
        <where>
            m.id = #{modelId}
        </where>
        limit 1
    </select>

    <select id="selectCountByServiceId" resultType="java.lang.Integer">
        select count(1) from model  as m
        where m.service_id = #{serviceId}
    </select>
    
    <select id="selectModelByServiceIdAndStatus" resultMap="ModelMap">
    	select * 
    	from model
    	where release_status = #{status}
    	<if test="serviceId != null">
    		and service_id = #{serviceId}
    	</if>
    	<if test="experimentId != null">
    		and experiment_id = #{experimentId}
    	</if>
    </select>

</mapper>