<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.realai.online.core.dao.PersonalInformationDao">
    <resultMap type="cn.realai.online.core.entity.PersonalInformation" id="PersonalInformationMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="experiment_id" property="experimentId" jdbcType="BIGINT"/>
        <result column="group_id" property="groupId" jdbcType="BIGINT"/>
        <result column="batch_id" property="batchId" jdbcType="BIGINT"/>
        <result column="personal_name" property="personalName" jdbcType="VARCHAR"/>
        <result column="stage" property="stage" jdbcType="INTEGER"/>
        <result column="personal_card_id" property="personalCardId" jdbcType="VARCHAR"/>
        <result column="phone_num" property="phoneNum" jdbcType="VARCHAR"/>
        <result column="personal_id" property="personalId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="order_date" property="orderDate" jdbcType="VARCHAR"/>
        <result column="label" property="label" jdbcType="INTEGER"/>
        <result column="probability" property="probability" jdbcType="DOUBLE"/>
        <result column="groupName" property="groupName" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertList" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
    	parameterType="java.util.List">
        INSERT INTO personal_information(experiment_id,group_id,batch_id,personal_name,stage,personal_card_id,
        phone_num,personal_id,create_time,order_date,label,probability)
        VALUES
        <foreach collection="list" separator="," item="pi" index="index">
            (#{pi.experimentId},#{pi.groupId},#{pi.batchId},#{pi.personalName},#{pi.stage},#{pi.personalCardId},#{pi.phoneNum},
            #{pi.personalId},#{pi.createTime},#{pi.orderDate},#{pi.label},#{pi.probability})
        </foreach>
    </insert>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" 
    	parameterType="cn.realai.online.core.entity.PersonalInformation">
     INSERT INTO personal_information(experiment_id,group_id,batch_id,personal_name,stage,personal_card_id,
        phone_num,personal_id,create_time,order_date,label,probability)
        VALUES
           (#{experimentId},#{groupId},#{batchId},#{personalName},#{stage},#{personalCardId},#{phoneNum},
           #{personalId},#{createTime},#{orderDate},#{label},#{probability})
    </insert>

    <select id="findListByExperimentIdAndBatchId" resultMap="PersonalInformationMap">
    	select * 
    	from personal_information
    	where experiment_id = #{experimentId}
    	and batch_id = #{batchId}
    </select>


    <select id="get" resultMap="PersonalInformationMap" parameterType="java.lang.Long">
         select *
        FROM personal_information
        <where>
            id =#{id}
        </where>
    </select>


    <select id="findList" resultMap="PersonalInformationMap"
            parameterType="cn.realai.online.core.entity.PersonalInformation">
        select *,b.group_name AS "groupName"
        FROM personal_information a LEFT JOIN sample_grouping b ON a.group_id = b.id
        <where>
            1=1
            <if test="id!=null">
                AND a.id = #{id}
            </if>
            <if test="experimentId!=null">
                AND a.experiment_id = #{experimentId}
            </if>
            <if test="groupId!=null">
                AND a.group_id = #{groupId}
            </if>
            <if test="batchId!=null">
                AND a.batch_id = #{batchId}
            </if>
            <if test="personalName!=null and personalName!=''">
                AND a.personal_name = #{personalName}
            </if>
            <if test="personalCardId!=null and personalCardId!=''">
                AND a.personal_card_id = #{personalCardId}
            </if>
            <if test="phoneNum!=null and phoneNum!=''">
                AND a.phone_num = #{phoneNum}
            </if>
            <if test="personalId!=null and personalId!=''">
                AND a.personal_id = #{personalId}
            </if>
            <if test="inputStartDate!=null ">
                AND STR_TO_DATE(a.order_date,"%Y-%m-%d") &gt;= FROM_UNIXTIME( #{inputStartDate}/1000, "%Y-%m-%d")
            </if>
            <if test="inputEndDate!=null">
                AND STR_TO_DATE(a.order_date,"%Y-%m-%d") &lt;= FROM_UNIXTIME( #{inputEndDate}/1000, "%Y-%m-%d")
            </if>
            <if test="searchType!=null and searchType!=''">
                <if test="searchType='thousandsFace'">
                    AND b.group_name!='全局'
                </if>
            </if>
        </where>
    </select>

</mapper>