<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.realai.online.core.dao.PSICheckResultDao">
    <resultMap type="cn.realai.online.core.entity.PSICheckResult" id="PSICheckResultMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="psi" property="psi" jdbcType="DECIMAL"/>
        <result column="variable_id" property="variableId" jdbcType="BIGINT"/>
        <result column="experiment_id" property="experimentId" jdbcType="BIGINT"/>
        <result column="aler" property="aler" jdbcType="TINYINT"/>
    </resultMap>

    <insert id="insert" parameterType="cn.realai.online.core.entity.PSICheckResult">
        INSERT INTO psi_check_result (psi,variable_id,experiment_id,aler)
        VALUE (#{psi},#{variableId},#{experimentId},#{aler})
    </insert>

	<insert id="insertList">
		INSERT INTO psi_check_result (psi,variable_id,experiment_id,aler)
		values
		<foreach collection="list" open="(" close=")" separator="," item="psi">
			#{psi.psi}, #{psi.variable_id}, #{psi.experiment_id}, #{psi.aler}
		</foreach>
	</insert>

	<delete id="deletePSIByExperimentId">
		delete 
		from psi_check_result 
		where experiment_id = #{experimentId}
	</delete>

    <update id="update" parameterType="cn.realai.online.core.entity.PSICheckResult">
        UPDATE psi_check_result
        <trim prefix="set" suffixOverrides=",">
            <if test="psi!=null">psi=#{psi},</if>
            <if test="aler!=null">aler=#{aler},</if>
        </trim>
        <where>
            id =#{id}
        </where>
    </update>

    <select id="get" resultMap="PSICheckResultMap" parameterType="java.lang.Long">
        SELECT * from psi_check_result
        <where>
            id =#{id}
        </where>
    </select>

    <select id="findMaxPsiTotal" resultType="java.lang.Integer">
        SELECT Count(0) FROM psi_check_result
        where
        psi>0.1
    </select>

    <select id="selectMaxPsi" resultType="double" parameterType="java.lang.Long">
        select ifnull(max(psi), 0) from psi_check_result as psi
        join model as m on psi.experiment_id = m.experiment_id
        <where>
            m.id = #{modelId}
        </where>
    </select>

    <select id="selectMaxPsiList" resultType="java.util.Map">
        select m.id as modelId, ifnull(max(psi), 0) as maxPsi from psi_check_result as psi
        join model as m on psi.experiment_id = m.experiment_id
        <where>
            m.id in
            <foreach collection="list" open="(" close=")" separator="," item="modelId">
                #{modelId}
            </foreach>
        </where>
        group by m.id
    </select>


    <resultMap type="cn.realai.online.core.bo.PsiResultBO" id="PsiResultMap">
        <result column="psiId" property="psiId" jdbcType="BIGINT"/>
        <result column="psi" property="psi" jdbcType="DECIMAL"/>
        <result column="aler" property="aler" jdbcType="TINYINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="meaning" property="meaning" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectList" resultMap="PsiResultMap">
        select psi.id as psiId, psi.psi, psi.aler, vd.name, vd.meaning
        from psi_check_result as psi
        join variable_data as vd on psi.variable_id = vd.id
        join model as m on psi.experiment_id = m.experiment_id
        <where>
            m.id = #{modelId}
        </where>
        order by psi.id
    </select>

</mapper>