<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.realai.online.core.dao.SampleWeightDao">
    <resultMap type="cn.realai.online.core.entity.SampleWeight" id="SampleWeightMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="experiment_id" property="experimentId" jdbcType="BIGINT"/>
        <result column="group_id" property="groupId" jdbcType="BIGINT"/>
        <result column="variable_weight" property="variableWeight" jdbcType="DOUBLE"/>
        <result column="variable_id" property="variableId" jdbcType="BIGINT"/>
        <result column="variable_type" property="variableType" jdbcType="INTEGER"/>
        <result column="box_beans" property="boxBeans" jdbcType="VARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="groupName" property="groupName" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertList">
        INSERT INTO sample_weight (experiment_id,group_id,variable_weight,variable_id,variable_type,
        box_beans,img_url)
        VALUES
        <foreach collection="swList" separator="," item="sw">
            (#{sw.experimentId},#{sw.groupId},#{sw.variableWeight},#{sw.variableId},#{sw.variableType},
            #{sw.boxBeans},#{sw.imgUrl})
        </foreach>
    </insert>

    <select id="findImage" resultMap="SampleWeightMap" parameterType="cn.realai.online.core.entity.SampleWeight">
        select *,b.group_name AS "groupName"
        from sample_weight a LEFT JOIN sample_grouping b ON a.group_id = b.id
        <where>
            a.img_url IS NOT NULL AND img_url !=''
            <if test="experimentId!=null and experimentId!=0">
                AND	a.experiment_id = #{experimentId}
            </if>
            <if test="groupId!=null and groupId!=0">
                AND	a.group_id = #{groupId}
            </if>
            <if test="variableType!=null and variableType!=0">
                AND	a.variable_type= #{variableType}
            </if>
            <if test="searchType!=null and searchType!=''">
                <if test="searchType=='while'">
                    AND b.group_name!='异常点' AND b.group_name!='全局'
                </if>
            </if>
        </where>
        ORDER BY ABS(a.variable_weight) DESC
    </select>

    <select id="findList" resultMap="SampleWeightMap" parameterType="cn.realai.online.core.entity.SampleWeight">
        select *,b.group_name AS "groupName"
        from sample_weight a LEFT JOIN sample_grouping b ON a.group_id = b.id
        <where>
            1=1
            <if test="experimentId!=null and experimentId!=0">
                AND	a.experiment_id = #{experimentId}
            </if>
            <if test="groupId!=null and groupId!=0">
                AND	a.group_id = #{groupId}
            </if>
            <if test="variableType!=null and variableType!=0">
                AND	a.variable_type= #{variableType}
            </if>
            <if test="searchType!=null and searchType!=''">
                <if test="searchType=='while'">
                    AND b.group_name!='异常点' AND b.group_name!='全局'
                </if>
            </if>
            
        </where>
        ORDER BY ABS(a.variable_weight) DESC
    </select>

</mapper>